<script>
	export let fill = "var(--main-active-color)";
</script>

<defs>
	<marker
		id="___arrowhead"
		viewBox="-10 -10 20 20"
		markerWidth="17"
		markerHeight="17"
		orient="auto"
	>
		<path d="M-6,-6 L 0,0 L -6,6" {fill} />
	</marker>
</defs>
