<script>
  export let config = {};
</script>

<div class="___chart_intro">
  <h3 class="___chart_intro_titel">{@html config.titel}</h3>
  <p class="___chart_intro_text">{@html config.subtitel}</p>
</div>
