@font-face {
	font-family: "franklin_gothic_fs";
	src: url("https://cdn.suedkurier.de/content/fonts/franklingothic-book-webfont.eot");
	src: url("https://cdn.suedkurier.de/content/fonts/franklingothic-book-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("https://cdn.suedkurier.de/content/fonts/franklingothic-book-webfont.woff2")
			format("woff2"),
		url("https://cdn.suedkurier.de/content/fonts/franklingothic-book-webfont.woff")
			format("woff"),
		url("https://cdn.suedkurier.de/content/fonts/franklingothic-book-webfont.ttf")
			format("truetype"),
		url("https://cdn.suedkurier.de/content/fonts/franklingothic-book-webfont.svg#franklin_gothic_fsbook")
			format("svg");
	font-weight: 300;
	font-style: normal;
}

svg.layercake-layout-svg {
	overflow: hidden !important;
	min-width: 290px;
	width: 100%;
}

.___chart-container {
	width: 100%;
	height: 100%;
}

.___chart_container {
	width: 100%;
	height: 100%;
}

.___chart_svg_container {
	margin-bottom: 15px;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.___chart_svg_container text {
	font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
	font-size: 16px;
	fill: var(--main-text-color);
}

.___chart_intro_text,
.___chart_quelle {
	margin-top: 0 !important;
	margin-bottom: 25px !important;
	padding-top: 0;
	position: relative;
}

.___chart_quelle {
	font-size: 14px;
	min-width: 50%;
	max-width: 100%;
}

.___chart_intro_titel {
	margin-bottom: 25px !important;
	margin-top: 25px !important;
	padding: 0 !important;
	color: var(--main-text-color);
}

.__chart_intro_infobox {
	text-align: center;
}

.___chart_sm_title {
	font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	padding-bottom: 20px;
	color: var(--main-text-color) !important;
}

.___chart_sm_div {
	min-width: 290px;
	max-width: 308px;
	margin: 0 auto 30px auto;
}

.___tooltip {
	font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
	position: absolute;
	width: 150px;
	border: 1px solid #ccc;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.85);
	transform: translate(-50%, -100%);
	padding: 5px;
	z-index: 15;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.___tooltip_line {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	border-left: 1px dotted #666;
	pointer-events: none;
}
.___tooltip,
.___tooltip_line {
	transition: left 250ms ease-out, top 250ms ease-out;
}
.___tooltip_title {
	font-weight: 400;
	color: #4b4b4d !important;
}
.___tooltip_key {
	color: var(--secondary-text-color, #878787);
}

.___tooltip_before {
	font-size: 16px;
}

.___tooltip_row {
	margin: 0 !important;
	color: #4b4b4d !important;
}

/* DIE ACHSEN */

.___tick text {
	font-size: 15px !important;
}

.___tick line {
	stroke: var(--secondary-text-color, #878787);
	shape-rendering: crispEdges;
}

.___tick .___gridline {
	stroke: var(--secondary-text-color, #878787);
	stroke-dasharray: 0;
	stroke-width: 0.5;
	opacity: 0.3;
}

.___tick.___tick-0 line,
.___tick .___tick-mark,
.___baseline {
	stroke-dasharray: 0;
}

.___axis.snapTicks .___tick:last-child text {
	transform: translateX(3px);
}
.___axis.snapTicks .___tick.tick-0 text {
	transform: translateX(-3px);
}

.___bar_rects:hover {
	opacity: 0.5;
}

.___line {
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-width: 2;
}

.___area {
	fill-opacity: 0.3;
}

.___chart_label {
	font-size: 16px;
}

.___chart_label_inner {
	fill: white !important;
}

.___map_choropleth_path:hover {
	stroke: var(--main-text-color, #4b4b4d);
	stroke-width: 2px;
}

.___bg {
	position: absolute;
	top: 0;
	right: -10px;
	bottom: 0;
	left: 0;
}

.___map_legende {
	width: 100%;
	height: 50px;
}

.___map_legende .title {
	font-weight: 300;
}

.___map_legende .tick text {
	font-size: 14px;
}

.___text_legende {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
}

.___waffle_group {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}

.___annotation {
	position: absolute;
	font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
	font-size: 16px;
}

.___annotation_background {
	stroke: white;
	stroke-width: 2px;
}

.___swoops {
	position: absolute;
	max-width: 200px;
	line-height: 14px;
}
.___swoops path {
	fill: none;
	stroke: var(--main-active-color);
	stroke-width: 1;
}

.___scrolly_background,
.___kachel {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	padding: 10px 20px;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@media (prefers-color-scheme: dark) {
	.___scrolly_background,
	.___kachel {
		box-shadow: 0 2px 5px 0 white;
	}

	.___annotation_background {
		stroke: transparent;
		stroke-width: 0px;
	}
}

@media screen and (max-width: 500px) {
	.___chart_sm_div {
		min-width: 290px;
		max-width: 100%;
		margin: 0 15px 20px 15px;
	}
	.___chart_sm_title {
		padding-bottom: 15px;
	}

	.___scrolly_background {
		padding: 10px;
	}
}
