<script>
	import maplibregl from "maplibre-gl";
	import "maplibre-gl/dist/maplibre-gl.css";
	import { feature } from "topojson-client";
	import { mapKey } from "./mapStore";
	import { onMount, onDestroy } from "svelte";
	import * as d3 from "d3";

	export let cooperativeGestures = true;
	export let maxBounds = undefined;
	export let center = undefined;
	export let bounds = [5.87, 47.27, 15.04, 55.1];
	export let zoom = 12;
	export let minZoom = 0;
	export let maxZoom = 20;
	export let attributionControl = true;
	export let apiKey = import.meta.env.VITE_MAPTILER_KEY;

	let map = undefined;
	$: mapKey.set(map);

	let gestures = cooperativeGestures
		? {
				windowsHelpText: "Mit STRG + scroll zoomen",
				macHelpText: "Mit ⌘ + scroll zoomen",
				mobileHelpText: "Mit zwei Fingern zoomen",
			}
		: false;

	let attr = attributionControl
		? new maplibregl.AttributionControl({
				compact: true,
				minimize: true,
			})
		: attributionControl;

	export let baseMap =
		"https://api.maptiler.com/maps/329599f9-c6af-449b-a8a7-70d5b03b303f/style.json";

	export let plainStyle = {
		version: 8,
		sources: {},
		layers: [],
		glyphs: "https://fonts.openmaptiles.org/{fontstack}/{range}.pbf", // Add glyphs property
	};

	export let style = baseMap ? baseMap + "?key=" + apiKey : plainStyle;

	function drawMap(element) {
		const map = new maplibregl.Map({
			container: element, // container id
			style: style, // style URL
			center: center,
			bounds: bounds,
			maxBounds: maxBounds,
			zoom: zoom,
			minZoom: minZoom,
			maxZoom: maxZoom,
			pitch: 0,
			pitchWithRotate: false,
			dragRotate: false,
			attributionControl: false,
			interactive: false, // Disable all interactions
		});

		map.dragPan.disable();

		return map;
	}

	function mapAction(container) {
		map = drawMap(container);

		// Resize-Event-Listener hinzufügen
		window.addEventListener("resize", () => {
			map.resize();
		});
	}

	let el;

	onMount(() => {
		let svg = d3.select(el);
		let detail = svg
			.select(".maplibregl-ctrl-bottom-right")
			.select("details");
		detail.attr(
			"class",
			"maplibregl-ctrl maplibregl-ctrl-attrib mapboxgl-ctrl mapboxgl-ctrl-attrib maplibregl-compact mapboxgl-compact"
		);
	});

	onDestroy(() => {
		// Entfernen des Resize-Event-Listeners
		window.removeEventListener("resize", () => {
			map.resize();
		});
	});
</script>

<div class="___chart_container">
	<div class="___chart_svg_container article-chart-big">
		<div id="___map" use:mapAction bind:this={el}>
			<slot></slot>
		</div>
	</div>
</div>

<style>
	#___map {
		width: 100%;
		top: 0;
		bottom: 0;
		height: max(75vh, 500px);
	}
</style>
